@import "tailwindcss";

html, body, #root {
  height: 100%;
}

@theme {
  --color-defaultbackground: #0f1219;
  --color-blue-980: #11182b;
}

body {
  background-color: #0f1219;
  color: white;
  height: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-4px);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.5s ease-in-out forwards;
}